apiVersion: v1
kind: Service
metadata:
  name: {{ include "lakefs.fullname" . }}
  labels:
    {{- include "lakefs.labels" . | nindent 4 }}
spec:
  type: {{ .Values.lakefs.service.type | default "ClusterIP" }}
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "lakefs.selectorLabels" . | nindent 4 }}

