{{- if and .Values.postgres.enabled .Values.openshift.enabled }}
---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: {{ .Values.postgres.imageName | default "postgres" }}
  namespace: {{ .Values.postgres.namespace | default .Release.Namespace }}
  labels:
    app: {{ .Values.postgres.imageName | default "postgres" }}
    {{- include "fraud-detection.labels" . | nindent 4 }}
spec:
  lookupPolicy:
    local: false
  tags:
    - name: {{ .Values.postgres.imageTag | default "latest" }}
      from:
        kind: DockerImage
        name: {{ .Values.postgres.image.repository }}:{{ .Values.postgres.image.tag }}
      importPolicy:
        scheduled: true
      referencePolicy:
        type: Source
{{- end }}
